/* simple reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;

	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

/* real style starts here */
html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
    /*background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
    background: #2c3e50;
	display: flex;
	flex-direction: column;
}

header {
	flex: 0;
}

h1 {
	font-size: 22px;
	padding: 20px 40px;
	color: #fff;
	font-family: Impact, Charcoal, sans-serif;
	background: rgba(255, 255, 255, 0.25);
}

.main {
	display: flex;
	flex: 1;
	flex-direction: row;
}

.textarea {
	flex: 1;
}

.toolbararea {
	flex: 1;
	/* max-width: 400px;
	min-width: 400px; */
	order: -1;
	box-sizing: border-box;
	overflow: auto;
}

#editor {
	flex: 1;
	font-size: 22px;
	font-weight: 500;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: left;
	background-color: #FFF;
	padding: 30px;
	margin: 40px 20px 40px 20px;
	border-radius: 10px;
	box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
	border: none;
	outline: none;
	line-height: 1.5;
}

#toolbars {
	display: flex;
	flex-direction: column;
	margin: 40px 0 40px 20px;
}

#toolbars div {
	display: flex;
	flex-flow: row wrap;
	margin-top: 20px;
	/*margin-bottom: 10px;*/
}

#toolbars div:first-child {
	margin-top: 0;
}

#toolbars div h3 {
	display: block;
	width: 100%;
	text-align: center;
	padding: 6px 0;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
	color: #fff;
	margin: 4px;
	font-family: 'Microsoft Yahei';
	font-weight: 700;
	background: rgba(255, 255, 255, 0.2);
	letter-spacing: 2px;
}

#toolbars div div {
	font-size: 16px;
	margin: 4px;
	line-height: 28px;
	color: #fff;
}

#toolbars div div select {
	font-size: 14px;
	margin: 4px;
	background: #fff;
}

#toolbars div div input {
	font-size: 18px;
	font-weight: 600;
	margin: 4px;
	border-radius: 2px;
	border: none;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	padding: 2px 4px;
	background: #fff;
}


#toolbars div button {
	font-size: 16px;
	font-weight: 600;
	font-family: 'Microsoft Yahei';
	color: #fff;
	padding: 5px 10px;
	outline: none;
	border: none;
	border-radius:5px;
	box-shadow: 0 1px #95a5a6;
	cursor: pointer;
	margin: 4px;
	background-color: #27ae60;
}

#userPlan {
	width: 100%;
}

#toolbars .userPlan .explain {
	font-size: 14px;
	background: rgba(208, 201, 41, 0.7);
	width: 100%;
	padding: 5px 5px;
	color: #fff;
	border-radius: 5px;
}

#toolbars .userPlan #checkbox label {
	line-height: 22px;
	font-size: 14px;
	color: #ddd;
}

#userPlan ol {
	background: rgba(255, 255, 255, 0.2);
	width: 100%;
	padding: 0 10px;
	max-height: 140px;
	overflow: auto;
}
#userPlan li {
	padding: 2px 10px;
	list-style: decimal;
	list-style-position: inside;
	color: #ddd;
	border-top: 1px dashed rgba(255, 255, 255, 0.4);
}
#userPlan li:first-child{
	border-top: none;
}

#toolbars #executeUserPlan {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: rgb(85, 55, 179);
}

#toolbars #executeReplace {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #fc2c3f;
}

#toolbars .replace button {
}

#toolbars .replace input {
	letter-spacing: 2px;
}

#toolbars .hack #executeHack {
	display: block;
	background-color: #8d09ff;
	width: 100%;
	padding: 10px;
	margin-top: 5px
}

#toolbars .specialCharacters {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
}

#toolbars .specialCharacters span {
	flex: 1;
	background: rgba(255, 255, 255, 0.3);
	border: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	padding: 0 8px;
	white-space: nowrap;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Arial';
	font-weight: 400
}

#toolbars .hack textarea#function {
	width: 100%;
	height: 120px;
	background: #fff;
	scroll: auto;
	font-size: 16px;
	box-sizing: border-box;
	padding: 10px;
	outline: none;
	border: none;
}

#toolbars .hack input {
	width: 100%;
}

/* 提示 title 的样式 */
#tooltip {
	position: absolute;
	max-width: 150px;
	font-size: 14px;
	color: #444;
	font-family: 'Microsoft Yahei';
	text-align: justify;
	background: rgba(246, 246, 231, 0.8);
	padding: 5px;
	border-radius: 2px;
	display: none;
	border: none;
}

#tooltip:before {
	content: '';
	display: block;
	position: absolute;
	left: 10px;
	top: -10px;
	width: 0;
	height: 0;
	border: 5px solid;
	border-color: transparent transparent rgba(246, 246, 231, 0.8) transparent;
}

/* 按钮区域右键出现的小功能条样式 */
#toolbtn {
	position: absolute;
	display: block;
	background: rgba(255, 255, 255, 1);
	display: flex;
	flex-flow: column wrap;
	display: none;
	max-width: 120px;
}
#toolbtn:before {
	content: '';
	display: block;
	position: absolute;
	left: 10px;
	top: -10px;
	width: 0;
	height: 0;
	border: 5px solid;
	border-color: transparent transparent rgba(246, 246, 231, 1) transparent;
}
#toolbtn button {
	width: 100%;
	padding: 10px;
	font-size: 14px;
	color: #333;
	font-weight: 800;
	cursor: pointer;
}
#toolbtn button:hover {
	color: #8d09ff;
}
#toolbtn button:last-child {
	border-top: 1px dashed #bbb;
}

#checkbox br {

}

@media only screen and (max-width: 1280px) {
	.toolbararea {
		min-width: 300px;
		max-width: 300px;
	}
	#originalText {
		width: 163px;
	}
	#intendedText {
		width: 205px;
	}
}

@media only screen and (min-width: 1280px) {
	.toolbararea {
		min-width: 400px;
		max-width: 400px;
	}
	#originalText {
		width: 249px;
	}
	#intendedText {
		width: 305px;
	}
}

/* checkbox 的样式，从codepen上直接抄的 */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}
