/* simple reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

/* real style starts here */
html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
    /*background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
    background: #2c3e50;
	display: flex;
	flex-direction: column;
}

header {
	flex: 0;
}

h1 {
	font-size: 22px;
	padding: 20px 40px;
	color: #fff;
	font-family: Impact, Charcoal, sans-serif;
	background: rgba(255, 255, 255, 0.25);
}

.main {
	display: flex;
	flex: 1;
	flex-direction: row;
}

.textarea {
	flex: 1;
	/*background: green;*/
}

.toolbararea {
	flex: 1;
	max-width: 300px;
	min-width: 300px;
	/*background: red;*/
	order: -1;
	box-sizing: border-box;
	overflow: auto;
}

#editor {
	flex: 1;
	font-size: 22px;
	font-weight: 500;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: left;
	background-color: #FFF;
	padding: 30px;
	margin: 40px 20px 40px 20px;
	border-radius: 10px;
	box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
	border: none;
	outline: none;
	line-height: 1.5;
}

#toolbars {
	display: flex;
	flex-direction: column;
	/*background: red;*/
	margin: 40px 0 40px 20px;
}

#toolbars div {
	display: flex;
	flex-flow: row wrap;
	margin-top: 20px;
	/*margin-bottom: 10px;*/
}

#toolbars div:first-child {
	margin-top: 0;
}

#toolbars div h3 {
	display: block;
	width: 100%;
	text-align: center;
	padding: 6px 0;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
	color: #fff;
	margin: 4px;
	font-family: 'Microsoft Yahei';
	font-weight: 700;
	background: rgba(255, 255, 255, 0.2);
	letter-spacing: 2px;
}

#toolbars div div {
	font-size: 16px;
	margin: 4px;
	line-height: 28px;
	color: #fff;
}

#toolbars div div select {
	font-size: 14px;
	margin: 4px;
	background: #fff;
}

#toolbars div div input {
	font-size: 14px;
	margin: 4px;
	border-radius: 2px;
	border: none;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	padding: 2px 4px;
	background: #fff;
}


#toolbars div button {
	font-size: 14px;
	font-weight: 600;
	font-family: 'Microsoft Yahei';
	color: #fff;
	padding: 5px 10px;
	outline: none;
	border: none;
	border-radius:5px;
	box-shadow: 0 1px #95a5a6;
	cursor: pointer;
	margin: 4px;
}

#toolbars div.lines button {
	background-color: #27ae60;
}

#toolbars div.replace button {
	background-color: #fc2c3f;
}

#toolbars .hack button {
	background-color: #8d09ff;
}

#originalText {
	width: 100px;
}

#toolbars .specialCharacters {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
}

#toolbars .specialCharacters span {
	flex: 1;
	background: rgba(255, 255, 255, 0.3);
	border: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	padding: 0 8px;
	white-space: nowrap;
	cursor: pointer;
}

#toolbars .hack textarea#function {
	width: 100%;
	height: 150px;
	background: #fff;
	scroll: auto;
	font-size: 16px;
	box-sizing: border-box;
	padding: 10px;
	outline: none;
	border: none;
}


footer {
}


